@charset "utf-8";
#headingOne1 .mb-0 #2010 {
    color: #CF373A;

}
#headingOne1 .mb-0 #2010 {
    color: #FF0004;
}
#headingTwo1 .mb-0 #GIOTO {
    color: #FF36A6;
}
#headingThree1 .mb-0 #QUOCKHANH {
    color: #FF0004;
}
#headingThree2 .mb-0 #TET {
    color: #F4A949;
}
